1. Lectura y exploración inicial del dataset:

a)Importen las librerías numpy y pandas

In [6]:
import numpy as np
import pandas as pd

b)Lean el dataset descargado de Kaggle utilizando pandas.

In [11]:
archivo = 'Auto_Sales_data.csv'
data = pd.read_csv(archivo)  # Utiliza pd.read_csv() para cargar los datos desde un archivo CSV

c)Muestren las primeras y últimas filas del dataset.

In [12]:
primeras = data.head()
ultimas = data.tail()

# Imprime las primeras y las últimas filas
print(f"Primeras filas: {primeras}")
print(f"Últimas 5 filas: {ultimas}")

Primeras filas:    ORDERNUMBER  QUANTITYORDERED  PRICEEACH  ORDERLINENUMBER    SALES  \
0        10107               30      95.70                2  2871.00
1        10121               34      81.35                5  2765.90
2        10134               41      94.74                2  3884.34
3        10145               45      83.26                6  3746.70
4        10168               36      96.66                1  3479.76

    ORDERDATE  DAYS_SINCE_LASTORDER   STATUS  PRODUCTLINE  MSRP PRODUCTCODE  \
0  24/02/2018                   828  Shipped  Motorcycles    95    S10_1678
1  07/05/2018                   757  Shipped  Motorcycles    95    S10_1678
2  01/07/2018                   703  Shipped  Motorcycles    95    S10_1678
3  25/08/2018                   649  Shipped  Motorcycles    95    S10_1678
4  28/10/2018                   586  Shipped  Motorcycles    95    S10_1678

           CUSTOMERNAME             PHONE                   ADDRESSLINE1  \
0     Land of Toys Inc.        2125557818        897 Long Airport Avenue
1    Reims Collectables        26.47.1555             59 rue de l'Abbaye
2       Lyon Souveniers  +33 1 46 62 7555  27 rue du Colonel Pierre Avia
3     Toys4GrownUps.com        6265557265             78934 Hillside Dr.
4  Technics Stores Inc.        6505556809              9408 Furth Circle

         CITY POSTALCODE COUNTRY CONTACTLASTNAME CONTACTFIRSTNAME DEALSIZE
0         NYC      10022     USA              Yu             Kwai    Small
1       Reims      51100  France         Henriot             Paul    Small
2       Paris      75508  France        Da Cunha           Daniel   Medium
3    Pasadena      90003     USA           Young            Julie   Medium
4  Burlingame      94217     USA          Hirano             Juri   Medium
Últimas 5 filas:       ORDERNUMBER  QUANTITYORDERED  PRICEEACH  ORDERLINENUMBER    SALES  \
2742        10350               20     112.22               15  2244.40
2743        10373               29     137.19                1  3978.51
2744        10386               43     125.99                4  5417.57
2745        10397               34      62.24                1  2116.16
2746        10414               47      65.52                9  3079.44

       ORDERDATE  DAYS_SINCE_LASTORDER    STATUS PRODUCTLINE  MSRP  \
2742  02/12/2019                  2924   Shipped       Ships    54
2743  31/01/2020                  2865   Shipped       Ships    54
2744  01/03/2020                  2836  Resolved       Ships    54
2745  28/03/2020                  2810   Shipped       Ships    54
2746  06/05/2020                  2772   On Hold       Ships    54

     PRODUCTCODE             CUSTOMERNAME           PHONE  \
2742    S72_3212    Euro Shopping Channel  (91) 555 94 44
2743    S72_3212  Oulu Toy Supplies, Inc.      981-443655
2744    S72_3212    Euro Shopping Channel  (91) 555 94 44
2745    S72_3212             Alpha Cognac      61.77.6555
2746    S72_3212        Gifts4AllAges.com      6175559555

               ADDRESSLINE1      CITY POSTALCODE  COUNTRY CONTACTLASTNAME  \
2742     C/ Moralzarzal, 86    Madrid      28034    Spain          Freyre
2743            Torikatu 38      Oulu      90110  Finland       Koskitalo
2744     C/ Moralzarzal, 86    Madrid      28034    Spain          Freyre
2745  1 rue Alsace-Lorraine  Toulouse      31000   France          Roulet
2746     8616 Spinnaker Dr.    Boston      51003      USA         Yoshido

     CONTACTFIRSTNAME DEALSIZE
2742            Diego    Small
2743           Pirkko   Medium
2744            Diego   Medium
2745          Annette    Small
2746             Juri   Medium

d)Obtengan información general del dataset, como el número de filas y
columnas, y los tipos de datos

In [13]:
info = data.info()   # Muestra info del csv

nfilas, ncolumnas = data.shape
print(f"Número de filas: {nfilas}")
print(f"Número de columnas: {ncolumnas}")

tipos = data.dtypes
print(f"Tipos de datos de cada columna:{tipos}")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2747 entries, 0 to 2746
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ORDERNUMBER           2747 non-null   int64
 1   QUANTITYORDERED       2747 non-null   int64
 2   PRICEEACH             2747 non-null   float64
 3   ORDERLINENUMBER       2747 non-null   int64
 4   SALES                 2747 non-null   float64
 5   ORDERDATE             2747 non-null   object
 6   DAYS_SINCE_LASTORDER  2747 non-null   int64
 7   STATUS                2747 non-null   object
 8   PRODUCTLINE           2747 non-null   object
 9   MSRP                  2747 non-null   int64
 10  PRODUCTCODE           2747 non-null   object
 11  CUSTOMERNAME          2747 non-null   object
 12  PHONE                 2747 non-null   object
 13  ADDRESSLINE1          2747 non-null   object
 14  CITY                  2747 non-null   object
 15  POSTALCODE            2747 non-null   object
 16  COUNTRY               2747 non-null   object
 17  CONTACTLASTNAME       2747 non-null   object
 18  CONTACTFIRSTNAME      2747 non-null   object
 19  DEALSIZE              2747 non-null   object
dtypes: float64(2), int64(5), object(13)
memory usage: 429.3+ KB
Número de filas: 2747
Número de columnas: 20
Tipos de datos de cada columna:ORDERNUMBER               int64
QUANTITYORDERED           int64
PRICEEACH               float64
ORDERLINENUMBER           int64
SALES                   float64
ORDERDATE                object
DAYS_SINCE_LASTORDER      int64
STATUS                   object
PRODUCTLINE              object
MSRP                      int64
PRODUCTCODE              object
CUSTOMERNAME             object
PHONE                    object
ADDRESSLINE1             object
CITY                     object
POSTALCODE               object
COUNTRY                  object
CONTACTLASTNAME          object
CONTACTFIRSTNAME         object
DEALSIZE                 object
dtype: object

2. Limpieza y preprocesamiento de datos:

a)Identifiquen y traten o imputen los valores faltantes NaN usando una
función personalizada que use la moda/media para remplazarlos. En
caso de no haber filas con NaN, todo dato que esté por encima o por
debajo de dos desviaciones típicas de la media tendrá que imputarse
por la moda/media.

b) Conviertan los tipos de datos de las columnas si es necesario.

c)Renombren las columnas para facilitar su manipulación.

3. Análisis exploratorio de datos (EDA):

a) Calculen estadísticas básicas de las columnas numéricas media,
mediana, desviación estándar usando funciones personalizadas que
tendréis que crear vosotros

b) Crear gráficos para visualizar la distribución de los datos, como
histogramas y diagramas de caja.

c) Identifiquen y analicen las correlaciones entre variables.

4. Manipulación de datos usando condicionales y bucles:

a) Filtrar el dataset utilizando condiciones específicas.

b) Crear nuevas columnas aplicando funciones o cálculos basados en
valores de otras columnas.

c) Utilizar bucles para iterar sobre filas o columnas y realizar cálculos.

5. Manejo de excepciones:

a) Utilizar bloques try-except para manejar errores o excepciones al leer
o procesar el dataset.

b) Crear excepciones personalizadas para manejar situaciones
específicas del análisis.